body {
    background-color: #000f;
}

button {
    border: none;
    background-color: #0000;
    cursor: pointer;
}

button.inner {
    border: 1px solid #ccc;
    margin: 4px;
}

th, td {
    border: 0.5px solid #ccc;
    text-align: left;
}

div.scroll {
    margin: 4px;
    padding: 4px;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

div.topbar {
    z-index: 2;
    height: 50px;
    padding: 12px;
    background-color: #cccf;
}

div.centerbar {
    background-color: #eeef;
}

div.leftbar {
    width: 50px;
    min-height: 600px;
    padding: 12px;
    background-color: #eeef;
}

div.rightbar {
    width: 50px;
    min-height: 600px;
    padding: 12px;
    background-color: #eeef;
}

div.bottombar {
    min-height: 30px;
    color: #ffff;
    padding: 12px;
    background-color: #000f;
}

div.content {
    min-height: 600px;
    padding: 12px;
    background-color: #ffff;
}

div.listitem {
    border: 1px solid #ccc;
    cursor: pointer;
}
